@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&family=Ribeye+Marrow&family=Roboto&display=swap');
@font-face {
    font-family: 'didone_room_numbersregular';
    src: url('didoneroomnumbers-webfont.woff2') format('woff2'),
         url('didoneroomnumbers-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: "Times New Roman", Times, serif;
  margin: 30.6px;
  font-size: 13px;
  
}

h1, h2, h3, h4, h5, h6, .nav, .article-duration, .archive-item-link, .footer {
  font-family: 'Noto Serif TC', serif;
}
